<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <title>Meet landing page</title>
</head>
<body>
  <main>
    <section class="landing">
      <header>
        <a href="#" class="landing-logo">
          <img src="./assets/logo.svg" alt="meet-logo">
        </a>
      </header>
      <div class="landing-img-box" aria-hidden="true"></div>
      <div class="landing-content">
        <h1 class="landing-title">
          Group Chat<br />
          for Everyone
        </h1>
        <p class="landing-desc">
          Meet makes it easy to connect with others face-to-face virtually and collaborate across any device.
        </p>
        <div class="landing-btns">
          <a href="#" class="btn">
            Download <span>v1.3</span>
          </a>
          <a href="#" class="btn btn-mini btn-purple">
            What is it?
          </a>
        </div> 
      </div>
    </section>

    <div class="num-box one">
    <div class="num-line"></div>
    <p class="num">01</p>
    </div>

    <section class="meet">
    <div class="meet-content">
      <div class="meet-img-box">
        <img src="./assets/mobile/image-woman-in-videocall.jpg" alt="" />
        <img src="./assets/mobile/image-women-videochatting.jpg" alt="" />
        <img src="./assets/mobile/image-men-in-meeting.jpg" alt="" />
        <img src="./assets/mobile/image-man-texting.jpg" alt="" />
      </div>
      <p class="meet-built">Built for modern use</p>
      <h2 class="meet-title">Smarter meetings, all in one place</h2>
      <p class="meet-desc">
        Send messages, share files, show your screen, and record your meetings — all in one workspace. Control who can join with invite-only team access, data encryption, and data export.
      </p>
    </div>
    </section>

    <div class="num-box two">
    <div class="num-line"></div>
    <p class="num">02</p>
    </div>

    <footer>
    <div class="footer-content">
      <h2 class="footer-title">
        Experience more <br />
        together
      </h2>
      <p class="footer-desc">
        Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.
      </p>
      <a href="#" class="btn btn-purple">
        Download <span>v1.3</span>
      </a>
    </div>
    </footer>
  </main>
</body>
</html>