* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

/* button-style */

.btn {
  display: block;
  margin: 0 auto;
  height: 58px;
  color: #FFFFFF;
  border-radius: 29px;
  padding: 16px 30px;
}

/* vertical line-style */

.num {
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0 auto 64px;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.625;
  border-radius: 50%;
  color: #87879D;
  border: 1px solid #87879D40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num::before {
  content: '';
  position: absolute;
  bottom: 56px;
  width: 1px;
  height: 84px;
  background-color: #87879D;
  opacity: 0.25;
}

/* button-one */

.btn-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D96A9;
  width: 193px;
}

.btn-one > span {
  color: #8FE3F9;
  margin-left: 4px;
}

/* button-two */

.btn-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #855FB1;
  width: 139px;
}

.btn-two > span {
  color: #D9B8FF;
  margin-left: 4px;
}

/*mobile*/

main {
  min-width: 375px;
}

.logo {
  display: block;
  margin-top: 48px;
}

.logo::after {
  content: '';
  display: block;
  width: 100%;
  height: 153px;
  background: url('./assets/mobile/image-hero.png') no-repeat center center;
  background-size: 414px 153px;
  margin: 54px 0 48px;
}

.title {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 24px;
  color: #28283D;
}

.header-writing {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  margin-bottom: 24px;
  color: #87879D;
  margin-bottom: 32px;
  padding: 0 24px;
}

.btn-one {
  margin-bottom: 16px;
}

.num-box {
  margin-top: 148px;
}

/* section-one */

.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.one .one-title {
  order: 3;
  color: #28283D;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.125;
  margin-bottom: 32px;
}

.one .img-box {
  order: 1;
}

.one .one-sentence {
  order: 2;
  color: #4D96A9;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.625;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.one .one-writing {
  order: 4;
  color: #87879D;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
}

.img-box {
  margin-bottom: 64px;
  width: 100%;
  height: 29vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.img-box img{
  width: 151px;
  height: 143px;
  border-radius: 8px;
}

