* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  color: #28283D;
  text-align: center;
}

.container {
}

/* Reset */

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: #87879D;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus,
button:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

/* button-style */

.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 16px 0;
  width: 193px;
  color: #FFFFFF;
  background-color: #4D96A9;
  border-radius: 29px;
  font-weight: 900;
  line-height: 1.625;
}

.btn:hover {
  cursor: pointer;
}

.btn-mini {
  width: 139px;
}

.btn span {
  color: #8FE3F9;
  margin-left: 4px;
}

.btn-purple {
  background-color: #855FB1;
}

.btn-purple span {
  color: #D9B8FF;
}

/* num line-style */

.num-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 140px;
  margin: 0 auto;
}

.num {
  width: 56px;
  height: 56px;
  font-weight: 900;
  border-radius: 50%;
  color: #87879D;
  background-color: #FFFFFF;
  border: 1px solid #87879D40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num-line {
  width: 1px;
  height: 84px;
  background-color: #87879D;
  opacity: 0.25;
}


body {
  min-width: 375px;
}

/* Moblie */

/* Landing */

  .landing {
    margin-bottom: 64px;
  }

  .landing-content {
    max-width: 540px;
    padding: 0 24px;
    margin: 0 auto;
  }

  .landing-logo {
    display: block;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 54px;
  }
  
  .landing-img-box{
    overflow: hidden;
    margin-bottom: 48px;
    width: 100%;
    height: 153px;
    background: url("./assets/mobile/image-hero.png") no-repeat center;
    background-size: 110% auto;
  }
  
  .landing-title {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
  }
  
  .landing-desc {
    margin-bottom: 32px;
  }
  
  .landing-btns .btn:first-child {
    margin-bottom: 16px;
  }

  /* num-box one*/

  .num-box.one {
    margin-bottom: 64px;
  }

  /* meet */
  .meet {
    max-width: 540px;
    margin: 0 auto 64px;
  }

  .meet-content {
    padding: 0 24px;
  }

  .meet-img-box {
    margin-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .meet-img-box img {
    width: 45.5%;
    height: auto;
    border-radius: 12px;
  }

  .meet-img-box img:first-child,
  .meet-img-box img:nth-child(2){
    margin-bottom: 24px;
  }

  .meet-built {
    margin-bottom: 24px;
    color: #4D96A9;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }

  .meet-title {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 1.125;
  }

  /* num-box two*/

  .num-box.two {
    position: relative;
    z-index: 1000;
  }

  /* footer */
  .footer {
    position: relative;
  }

  .footer-content {
    position: absolute;
    top: -28px;
    width: 100%;
    height: 428px;
    background-color: #4D96A9;
    z-index: -1;
  }

  .footer-content::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 428px;
    background: url("./assets/mobile/image-footer.jpg") no-repeat center center;
    background-size: 100% auto;
    opacity: 0.1;
  }

  .footer-title {
    margin: 92px 0 24px;
    padding: 0 24px;
    font-size: 32px;
    line-height: 1.125;
    color: #FAFAFA;
  }

  .footer-desc {
    margin-bottom: 32px;
    padding: 0 24px;
    color: #FAFAFA;
    font-size: 18px;
    line-height: 1.4444444444;
  }

  .sukyungdev {
    padding: 15px 0;
    color: #FAFAFA;
  }


/* Tablet */

@media screen and (min-width: 768px){
  /* Landing */
  .landing-content {
    max-width: 960px;
    padding: 0;
  }

  .landing-logo {
    padding-bottom: 64px;
  }
  
  .landing-img-box{
    margin-bottom: 72px;
    height: 303px;
  }
  
  .landing-title {
    font-size: 48px;
    line-height: 1.0;
  }
  
  .landing-desc {
    padding: 0 155px;
  }
  
  .landing-btns .btn:first-child {
    margin-bottom: 0;
    margin-right: 16px;
  }

  /* meet */
  .meet {
    max-width: 960px;
    margin: 0 auto 80px;
  }

  .meet-content {
    padding: 0 40px;
  }

  .meet-img-box img:first-child,
  .meet-img-box img:nth-child(2){
    margin-bottom: 0;
  }

  .meet-img-box img {
    width: 23%;
  }

  .meet-built {
    margin-bottom: 16px;
  }

  .meet-title {
    margin: 0 auto;
    width: 445px;
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 1.1;
  }

  .meet-desc {
    margin: 0 auto;
    width: 83%;
  }

  /* footer */

  .footer::after {
    background-image: url('./assets/tablet/image-footer.jpg');
  }

  .footer-desc {
    padding: 0 97px;
  }

  .footer-title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 1.1;
  }
}

/* Desktop */

@media screen and (min-width: 1140px){

  /* Landing */
  .landing-content {
    max-width: 1440px;
  }

  .landing-logo {
    padding-bottom: 64px;
  }

  .landing-img-box{
    background: none;
    position: relative;
    margin-bottom: 72px;
    height: 358px;
  }

  .landing-img-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    width: 394px;
    height: 303px;
    background: url("./assets/desktop/image-hero-left.png");
  }

  .landing-img-box::after {
    content: '';
    position: absolute;
    top: 0;
    right: -45px;
    width: 394px;
    height: 303px;
    background: url("./assets/desktop/image-hero-right.png");
  }

  .landing-content {
    position: absolute;
    top: 169px;
    left: 50%;
    transform: translateX(-50%);
  }
  .landing-title {
    font-size: 64px;
  }
  
  .landing-desc {
    padding: 0;
    width: 540px;
  }
  
  .landing-btns .btn:first-child {
    margin-bottom: 0;
    margin-right: 16px;
  }

  /* meet */
  .meet {
    max-width: 1140px;
    margin: 0 auto 72px;
  }

  .meet-content{
    max-width: 1100px;
    padding: 0;
    /* margin: 0 auto; */
  }

  .meet-img-box img:first-child,
  .meet-img-box img:nth-child(2){
    margin-bottom: 0;
  }

  .meet-img-box img {
    width: 23%;
  }

  .meet-desc {
    width: 47%;
  }

  /* footer */

 /* footer */


.footer-content::after{
  height: 308px;
  background: url("./assets/desktop/image-footer.jpg") no-repeat center center;
}

  .footer-content {
    width: 100%;
    height: 308px;
    color: #FAFAFA;
    padding: 0 165px;
  }

  .footer-title,
  .footer-desc {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .footer-title {
    margin-right: 125px;
  }

  .footer-desc {
    margin-right: 92px;
    width: 25%;
  }

  .footer .btn {
    margin: 0;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}