<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <title>Equalizer landing page</title>
</head>
<body>
  <main>
    <header>
      <img src="./assets/logo.svg" alt="equalizer-logo" class="logo">
      <h1 class="title">We make your music sound extraordinary.</h1>
      <p class="description dark-word">
        A system audio equalizer specifically designed for Android and iOS. Freely tune the 
        way your music sounds with a professional grade parametric EQ & volume mixer. Control 
        bass, mids, treble, gain control, reverb, and more!
      </p>
    </header>
    <section class="image-app" aria-hidden="true">
      <img src="./assets/illustration-app.png" alt="">
    </section>
    <section class="premium">
      <h2>Premium EQ</h2>
      <p>
        Get expert-level control with a robust equalizer, volume mixer, and spatial audio. Take 
        your listening experience to a whole new level and access all our incredible features!
      </p>
      <span class="Price" aria-label="Price">$4 </span>
      <span class="Period" aria-label="in month">/ month</span>
      <button class="download-ios">
        iOS Download
      </button>
      <button class="download-ios">
        Android Download
      </button>
      <footer>
        All rights reserved © Equalizer 2021
        Have any problems? Contact us via social media or email us at equalizer@example.com
        <div class="sns-link">
          <a href="#" aria-label="link-facebook">
            <img src="./assets/icon-facebook.svg" alt="">
          </a>
          <a href="#" aria-label="link-instagram">
            <img src="./assets/icon-instagram.svg" alt="">
          </a>
          <a href="#" aria-label="link-twitter">
            <img src="./assets/icon-twitter.svg" alt="">
          </a>
        </div>
      </footer>
    </section> 
  </main>

</body>
</html>