* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

button {
  font-family: 'IBM Plex Sans', sans-serif;
  border-style: none;
}

a {text-decoration: none;}


/* style */
.dark-word {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #191826;
}

.style-btn {
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77777777778;
  letter-spacing: -0.18px;
  margin: 0 auto;
}
/* mobile */

/*header*/
header {
  max-width: 100%;
  padding: 40px 24px 0;
  background-image: url("./assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position: 50px -200px;
}

header > .logo {
  margin-bottom: 64px;
}

.title {
  margin-bottom: 20px;
  font-size: 2.5;
  font-weight: 700;
  line-height: 1.2;
  color: #191826;
}

.description {
  padding-bottom: 164px;
}

/* image-app */
.image-app{
  position: relative;
  max-width: 100%;
  height: 600px;
  margin: 0 auto;
  background-color: #191826;
  border-radius: 20px;
  background-image: url("./assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 280px auto;
}

.image-app img {
  position: absolute;
  width: 208px;
  top: -98px;
  left: 22%;
}

/* premium */

.premium {
  position: relative;
  top: -220px;
  padding: 48px 36px;
  border-radius: 12px;
  background-color: #FA7453;
  color: #FCFAF9;
}

.pre-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 12px;
}

.pre-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55555555556;
  margin-bottom: 36px;
}

/* pay-page*/
.pay-page {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.pay-page .price{
  font-size: 65px;
  font-weight: 700;
  line-height: 0.8;
  margin-right: 16px;
}

.pay-page .period{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: -0.2px;
  }

  /* buttons */
  .download-ios {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 77px;
    margin-bottom: 16px;
    background-color: #191826;
    color: #FCFAF9;
    font-size: 18px;
  }

  .download-ios::before {
  content: '';
  width: 17px;
  height: 20px;
  margin-right: 7.9px;
  background-image: url("./assets/icon-apple.svg");
  background-repeat: no-repeat;
}

.download-and {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 58px;
  background-color: #FCFAF9;
  color: #191826;
  font-size: 18px;
}

.download-and::before {
  content: '';
  width: 17px;
  height: 20px;
  margin-right: 7.8px;
  background-image: url("./assets/icon-android.svg");
  background-repeat: no-repeat;
}

/* footer */
footer {
  position: relative; 
}

.contact {
  background-color: #FFFFFF;
  position: absolute;
  top: -156px;
  padding: 0 24px;
}

.contact > .logo {
  margin-bottom: 32px;
}

.con-description {
  margin-bottom: 64px;
}

.sns-link {
  margin-bottom: 5px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin-bottom: 80px;
  font-size: 10px;
}