* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}

a {
  text-decoration-line: none;
  color: #808080;
}

ol,
ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.content {
  width: 768px;
  margin: 0 auto;
  padding-top: 20px;
}

/*nav*/
nav {
  margin-bottom: 30px;
}

nav > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 400;
}

nav a {
  display: block;
}

.github img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.simple_des{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #5f5f5f;;
}

.challenge {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

/*main*/
main {
  margin-bottom: 50px;
}

.main_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.main_title h1 {
  font-size: 16px;
  font-weight: 400;
}

/* pro_list */
.pro_list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.pro_list > li:last-child {
  margin-bottom: 0px;
}

.pro_list .date {
  margin-right: 10px;
}

.pro_list a {
  color: #005cad;
}

.pro_list .fix {
  color: #808080;
  font-size: 14px;
}

/*footer*/

.copyright {
  position: fixed;
  color: #919191;
  bottom: 30px;
  font-size: 12px;
  font-weight: 300;
}

