* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}

a {
  text-decoration-line: none;
}

ol,
ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.content {
  /* padding: 30px 50px; */
  width: 768px;
  margin: 0 auto;
  padding-top: 20px;
}

/*nav*/
nav {
  /* padding: 15px 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(155, 155, 155);
}

nav a {
  display: block;
  color: black;
}

.github img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/*section*/
.simple_des{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 70px;
  line-height: 1.6;
  color: #6d6d6d;
}

.description a {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 1.6;
  color: #6d6d6d;
}

.challenge {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

/*main*/

main {
  margin-bottom: 50px;
}

.project {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project a {
  font-size: 15px;
  color: #919191;
}

.date {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  color: #919191;
}

.pro_list {
  font-size: 18px;
}

.pro_list a {
  color: #1965c9;
}

/*footer*/

.copyright {
  color: #919191;
  font-size: 10px;
  font-weight: 300;
}

