* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
  padding: 0;
}

/* mobile */

body {
  font-family: 'Red Hat Display', sans-serif;
  /* bg */
  background-color: #E0E8FF;
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  background-attachment: fixed;
  /* ------- */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 327px;
  /* height: 567px; */
  background-color: #FFF;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.151826);
}

.img {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
  margin-bottom: 32px;
}

.content {
  padding: 0 24px;
}

.title {
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.31818181818;
  margin-bottom: 16px;
  color: #1F2E55;
}

.description {
  text-align: center;
  padding: 0 3%;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.66666666667;
  margin-bottom: 24px;
  color: #717FA6;
}

/* plan */
.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 81px;
  background-color: #F7F9FF;
  padding: 16px;
  margin: 0 auto 24px;
  border-radius: 11px;
}

.plan::before {
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  background-image: url("./images/icon-music.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.plan-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.plan-name {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.35714285714;
  color: #1F2E55;
  margin-bottom: 3px;
}

.plan-year {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.35714285714;
  color: #717FA6;
}

.plan-change {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.30769230769;
  color: #382AE1;
  border-bottom: 1px solid #382AE1;
}

/* button */

.payment {
  width: 100%;
  height: 50px;
  border-radius: 11px;
  background-color: #382AE1;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 900;
  line-height: 1.33333333333;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
}

.cancel {
  display: block;
  margin: 0 auto;
  padding-bottom: 32px;
  background-color: #FFFFFF;
  color: #717FA6;
  font-size: 15px;
  font-weight: 900;
  line-height: 1.33333333333;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: #717FA6;
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}

.attribution strong {
  font-weight: 400;
}

/* desktop */
@media screen and (min-width : 375px) {

  /* bg */
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-position: center 0;
  }
  /* ------- */

  main {
    width: 450px;
  }
  
  .img {
    height: 220px;
    margin-bottom: 0;
  }
  
  .content {
    padding: 45px  48px 48px;
  }
  
  .title {
    font-size: 28px;
    line-height: 1.32142857143;
    margin-bottom: 17px;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 20px;
    padding: 0 8%;
  }
  
  .plan {
    height: 98px;
    padding: 25px;
    margin: 0 auto 32px;
  }
  
  .plan-content {
    margin-right: 92px;
  }
  
  .plan-name {
    font-size: 16px;
    line-height: 1.3125;
    margin-bottom: 6px;
  }
  
  .plan-year {
    font-size: 16px;
    line-height: 1.3125;
  }
  
  .plan-change {
    font-size: 14px;
    line-height: 1.35714285714;
  }
  
  .plan-change:hover {
    border: none;
    color: #766CF1;
  }

  .payment {
    box-shadow: 0 20px 20px rgba(56, 42, 225, 0.190291);
    margin-bottom: 32px;
  }

  .payment:hover {
    background-color: #766CF1;
    cursor: pointer;
  }

  .cancel {
    padding: 0;
  }

  .cancel:hover {
    color: #1F2E55;
    cursor: pointer;
  }
  
  
  .attribution { 
    font-size: 12px; 
  }
}