* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: #d5e1ef;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background-color: #fff;
  width: 320px;
  height: 497;
  border-radius: 20px;
  padding: 16px;
  margin-bottom: 15px;
}

.qr_code {
  display: block;
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.text-box {
  padding: 0 16px;
}

.text-box h1{
  font-size: 22px;
  color: #1F314F;
  margin-bottom: 16px;
}

.text-box p{
  font-size: 15px;
  color: #7D889E;
}

.attribution {
 font-size: 15px;
 color: #adb0b9;
}

.attribution a {
 color: #75afa4;
}
