* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: #d5e1ef;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #fff;
  width: 320px;
  height: 497;
  border-radius: 20px;
  padding: 16px;
  margin-bottom: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.qr_code {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.text-box {
  padding: 0 16px 20px;
}

.text-box h1{
  font-size: 22px;
  color: #1F314F;
  margin-bottom: 16px;
}

.text-box p{
  font-size: 15px;
  color: #7D889E;
}

.attribution {
 font-size: 12px;
 line-height: 1.25;
 color: #adb0b9;
}

.attribution a {
 color: #94b0c5;
}

.attribution strong {
  font-weight: 400;
 }
