<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <title>NFT preview card component</title>
</head>
<body>
  <div class="container">
    <main>
      <!-- hover -->
      <div class="img-box">
        <img src="./images/image-equilibrium.jpg" alt="image-equilibrium" class="img-equilibrium">
        <div class="view"></div>
      </div>
      <h1 class="title">Equilibrium #3429</h1>
      <p class="description">Our Equilibrium collection promotes balance and calm.</p>
      <div class="information">
        <strong>0.041 ETH</strong>
        <span>3 days left</span>
      </div>
      <div class="line"></div>
      <div class="creation">
        <a href="#">
          <img src="./images/image-avatar.png" alt="image-avatar">
        </a>
        <p>Creation of <a href="#" class="name">Jules Wyvern</a></p>
      </div>
    </main>
    <!-- attribution -->
    <div class="attribution">
      <p>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.</p>
      <strong>Coded by <a href="https://github.com/sukyungdev" target="_blank">sukyungdev</a>.</strong>
    </div>
  </div>
</body>
</html>