* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D192C;
}

/* main */
main {
  width: 350px;
  height: 596px;
  padding: 24px;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #15263F;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  ;
}

/* img hover */
.img-box {
  position: relative;
}

.view{
  position: absolute;
  top: 0;
  left: 0;
  width: 302px;
  height: 302px;
  background: url("./images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 255, 248, 0.5);
  border-radius: 8px;
  opacity: 0.0;
  transition: opacity 350ms ease-out;
}

.view:hover {
  opacity: 1;
  cursor: pointer;
}

.img-equilibrium {
  display: block;
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
}
/*img hover end */

.title {
  font-size: 22px;
  font-weight: 600;
  line-height: 27.72px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.title:hover {
  color: #00FFF8;
  cursor: pointer;
}

.description {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  color: #8BACD9;
  margin-bottom: 24px;
}

/* information */

.information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.information strong{
  font-size: 16px;
  font-weight: 600;
  line-height: 20.16px;
  color: #00FFF8;
  display: flex;
  align-items: center;
}

.information strong::before{
  content: '';
  display: inline-block;
  width: 11px;
  height: 18px;
  margin-right: 6.5px;
  background-image: url("./images/icon-ethereum.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.information span{
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  color: #8BACD9;
  display: flex;
  align-items: center;
}

.information span::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 7.7px;
  background-image: url("./images/icon-clock.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line */
.line {
  border-bottom: 1px solid #2E405A;
  margin-bottom: 16px;
}

/* creation */

.creation {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.creation img{
  display: block;
  width: 33px;
  height: 33px;
  margin-right: 16px;
  border-radius: 50%;
  border: 1px solid white;
}

.creation p{
  color: #8BACD9;
}

.creation .name{
  font-weight: 400;
  color: #FFFFFF;
}

.creation .name:hover{
  color: #00FFF8;
}

/* attribution */

.attribution {
  font-size: 12px; 
  line-height: 1.25;
  text-align: center;
  color: #4e4e4e;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution strong {
  font-weight: 400;
}
