/* reset css */
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #0A0C1C;
  font-family: 'Inter';
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

/* mobile */
/* section */

section {
  width: 327px;
  height: 780px;
  background-color: #1B1937;
  border-radius: 8px;
}

.headerImgBox {
  background: url('./assets/image-header-mobile.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 240px;
  position: relative;
  margin-bottom: 2.5em;
}

.headerImgBox::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  background-color: #AB5CDB;
  mix-blend-mode: multiply;
}

.content {
  padding: 0 31.5px;
}

.title {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
  text-align: center;
}

.title strong {
  color: #AB5CDB;
}

.desc {
    text-align: center;
    color: #fff;
    opacity: 0.75;
    margin-bottom: 2.5em;
    font-size: 15px;
    line-height: 1.6666666667;
}

.information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 1.5em;
}

.information:last-child {
  margin-bottom: 0;
}

.information strong{
  font-size: 24px;
  line-height: 1.16;
}

.information span{
  font-family: 'Lexend Deco', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2.0833333333;
  letter-spacing: 1;
  color: #FFFFFF;
  opacity: 0.6;
}


/* desktop */

@media (min-width: 1140px) {
  section {
    display: flex;
    min-width: 1100px;
    height: 446px;
  }



}